<!--Section: Texto --->
<section class="background">
  <img class="img" src="../../assets/img/MARCA_COLORPNG.png" alt="Logo" >
    <h1 class="titulo-cambiante">
      <span class="word">{{ wordWrapperContent }}</span><BR>
      NETWORK | SEGURIDAD ELECTRONICA | SERVICE PC | VENTAS | WEB DEVELOPMENT
    </h1>
    <!--<img class="background-img" src="../../assets/img/servicios3.jpg" alt=""> -->
  </section>
  <!-- Section: texto-->

  <!-- section buttons -->

    <div>
      <div class="buttons-container">
        <a href="#" class="buttons-home">Conocé nuestros servicios</a>
         <a href="#" class="buttons-home">Visitá la tienda</a>
      </div>
    </div>

  <!-- section buttons-->
