<div class="container">
  <div class="box">
    <div class="question">
      <div class="question-head">
        <img class="img-logo" src="../../../assets/img/icon-logo.png" alt="" />

        <div class="option">
          <a (click)="setView('login')">Iniciar Sesión</a>
          <a (click)="setView('register')">Registrarme</a>
          <a (click)="setView('forgot-password')">Olvidé la Contraseña</a>
          <p>Por favor, selecciona una opción.</p>
        </div>
      </div>
    </div>


    <div [ngSwitch]="currentView" class="currentView">
      <div *ngSwitchCase="'login'">
        <!-- Formulario de inicio de sesión -->
        <div class="form-login">
          <h4>Bienvenidos</h4>
          <form (ngSubmit)="login()" [formGroup]="formLogin">
            <label for="">Nombre de usuario</label>
            <input type="text" name="username" id="username" formControlName="usernameLogin" />
            <div class="alert alert-danger mt-2" [hidden]="usernameLogin.valid || usernameLogin.pristine">
              <span *ngIf="usernameLogin.errors?.['required']">Nombre de usuario obligatorio</span>
              <span *ngIf="usernameLogin.errors?.['minlength']">El nombre de usuario debe contener al menos 6
                caracteres</span>
            </div>

            <label for="contraseña">Contraseña</label>
            <input [type]="isPasswordVisible ? 'text' : 'password'" class="password-input" type="password"
              name="password" id="password" formControlName="passwordLogin" />

            <i id="icon-eye" (click)="togglePasswordVisibility()">
              <img [src]=" isPasswordVisible ? '../../../assets/img/eye.png' : '../../../assets/img/eye-off.png'"
                alt="Toggle Password" alt="" />
            </i>

            <div class="alert alert-danger mt-2" [hidden]="passwordLogin.valid || passwordLogin.pristine">
              <span *ngIf="passwordLogin.errors?.['required']">Contraseña no puede estar vacia</span>
              <span *ngIf="passwordLogin.errors?.['minlength']">La contraseña debe contener al menos 6 caracteres</span>
            </div>

            <button class="btn-iniciar" >Iniciar Sesion</button>

          </form>
        </div>
      </div>

      <div *ngSwitchCase="'register'">
        <!-- Formulario de registro -->
        <div class="form-register">
          <h4>Registrarme</h4>
          <form (ngSubmit)="register()" [formGroup]="formRegister">
            <!-- Campos de registro -->

            <label for="name">Nombre Usuario</label>
            <input id="username" name="username" type="text" formControlName="usernameRegister" />
            <div class="alert alert-danger mt-2" [hidden]="usernameRegister.valid || usernameRegister.pristine">
              <span *ngIf="usernameRegister.errors?.['required']">Nombre de usuario obligatorio</span>
              <span *ngIf="usernameRegister.errors?.['minlength']">El nombre de usuario debe contener al menos 6
                caracteres</span>
            </div>

            <label for="email">Email:</label>
            <input id="email" name="email" type="email" formControlName="emailRegister" />
            <div class="alert alert-danger mt-2" [hidden]="emailRegister.valid || emailRegister.pristine">
              <span *ngIf="emailRegister.errors?.['required']">Email obligatorio</span>
              <span *ngIf="emailRegister.errors?.['minlength']">Email incorrecto</span>
            </div>


            <label for="password">Contraseña:</label>
            <input id="password" name="password" type="password" formControlName="passwordRegister" [type]="isPasswordVisible ? 'text' : 'password'" />

            <i id="icon-eye" (click)="togglePasswordVisibility()" >
              <img [src]=" isPasswordVisible ? '../../../assets/img/eye.png' : '../../../assets/img/eye-off.png'"
                alt="Toggle Password" />
            </i>

            <div class="alert alert-danger mt-2" [hidden]="passwordRegister.valid || passwordRegister.pristine">
              <span *ngIf="passwordRegister.errors?.['required']">Contraseña no puede estar vacia</span>
              <span *ngIf="passwordRegister.errors?.['minlength']">Minimo 6 caracteres</span>
            </div>


            <label for="re-password">Repetir Contraseña:</label>
            <input id="re-password" name="re-password" type="password" formControlName="rePasswordRegister" [type]="isPasswordVisible ? 'text' : 'password'"  />

            <i id="icon-eye" (click)="togglePasswordVisibility()" >
              <img [src]=" isPasswordVisible ? '../../../assets/img/eye.png' : '../../../assets/img/eye-off.png'"
                alt="Toggle Password" />
            </i>
            
            <div class="alert alert-danger mt-2" [hidden]="rePasswordRegister.valid || rePasswordRegister.pristine">
              <span *ngIf="rePasswordRegister.errors?.['required']">Contraseña no puede estar vacia</span>
              <span *ngIf="rePasswordRegister.errors?.['minlength']">Minimo 6 caracteres</span>
            </div>


            <button class="btn-iniciar" >Registrarme</button>
          </form>
        </div>
      </div>

      <div *ngSwitchCase="'forgot-password'">
        <!-- Mensaje de recuperación de contraseña -->
        <div class="reset-password">
          <h4>Restaurar Contraseña</h4>
          <p>¡Hola!</p>
          <p>
            ¿Olvidaste tu contraseña? No te preocupes, completa tu direccion de
            correo y te enviamos un link para cambiarla.
          </p>
          <form action="">
            <label for="email">Email</label>
            <input type="email" id="email" />
            <button class="btn-reset">Restaurar Contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>