<div class="container">
  
  <div class="box">

    <div class="question">
       <div class="question-head">
          <img src="../../../assets/img/icon-logo.png" alt="">
          <div *ngIf="changeLogin; then welcome else regist"></div>
          <ng-template #welcome>
            <h4>Bienvenidos</h4>
          </ng-template>
          <ng-template #regist>
          <h4>Registrarme</h4>
          </ng-template>
      </div>
      
        <div class="question-body" >
          <div *ngIf="changeLogin; then register else login"></div>
          <ng-template #register>
          <p>¿Eres nuevo en el sitio?<a (click)="toggleForm()" (click)="toggleLogin()">Registrate</a></p>
          <p><a href="#">Olvide la contraseña</a></p>
          </ng-template>
          <ng-template #login>
            <p>Ya tengo una cuenta.<br><a (click)="toggleForm()" (click)="toggleLogin()">Iniciar Sesión</a></p>
          </ng-template> 
       </div>   
    </div>

    <div class="form-login" *ngIf="!showRegisterForm" >

      <form (ngSubmit)="onLoginSubmit()" >

        <label for="">Email</label>
        <input type="email" name="email" id="email">
        
        <label for="contraseña">Contraseña</label>
        <input [type]="isPasswordVisible ? 'text' : 'password'" class="password-input" type="password" name="password"
          id="password">
        <i id="icon-eye" (click)="togglePasswordVisibility()">
          <img [src]="isPasswordVisible ? '../../../assets/img/eye-off.png' : '../../../assets/img/eye.png'"
            alt="Toggle Password" alt="">
        </i>

        <button class="btn-iniciar">Iniciar Sesion</button>

      </form>
    </div>

 



  <!-- Formulario de Registro -->
 
  
  <ng-template #registerForm>
    <div class="form-register">
    <form (ngSubmit)="onRegisterSubmit()">
      
      <!-- Campos de registro -->

        <label for="name">Nombre</label>
        <input id="name" name="name" type="text" required />


        <label for="email">Email:</label>
        <input id="email" name="email" type="email" required />


        <label for="password">Contraseña:</label>
        <input id="password" name="password" type="password" required />

        <label for="re-password">Repetir Contraseña:</label>
        <input id="re-password" name="re-password" type="password" required />

      <button class="btn-iniciar" type="submit">Registrarme</button>

    </form>
  </div>
  </ng-template>
  
</div>

  <!-- Renderiza el formulario de registro si showRegisterForm es true -->
  <div *ngIf="showRegisterForm">
    <ng-container *ngTemplateOutlet="registerForm"></ng-container>
  </div>

</div>