<!-- carousel -->


<div class="carousel-container">
  <div class="carousel-slide" [@slideAnimation]="currentSlide">
    <img [src]="slides[currentSlide].image" [alt]="slides[currentSlide].title">
  </div>

  <!-- Controles -->
  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>

  <!-- Indicadores -->
  <div class="indicators">
    <span 
      *ngFor="let slide of slides; let i = index" 
      [class.active]="i === currentSlide"
      (click)="selectSlide(i)" @slideAnimation >
    </span>
  </div>
</div>




<!-- Fin Carrusel -->