/* You can add global styles to this file, and also import other style files */

body{
   /* background: rgba(123,237,1800,0.1);
    background: linear-gradient(0deg, rgba(123,237,180,1) 0%, rgba(75,187,252,1) 100%);*/
    background: linear-gradient(to bottom right, rgba(123, 237, 180, 1), rgba(75, 187, 252, 1));
}


:root{
    --main-color:#0B70B7;
    --secundary-color:#5087AE;
    --background-secundary:#77A0BD;
    --background-color: #485259;
}