.container{
    height: 100vh;
}

.title{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: #33333350;
}
h2, h4{
    text-align: center;
}
.option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 50px;
}

.option-item{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.option-item p{
    font-size: 1rem;
    font-weight: 600;
    margin: 0 auto;
}

