<div class="parallax-container">
    <div class="parallax-content">
        <h1>SERVICIOS</h1>
    </div>
    <div class="parallax-background">
        
    </div>
  </div>
  


  
<div class="servicio-container">
    <div class="imagenes-servicios">
        <div class="img-item">
            <img src="../../assets/img/cctv-icono.png" alt="">
        </div>
        <div class="img-item">
            <img src="../../assets/img/computacion-icono.png" alt="">
        </div>
        <div class="img-item">
            <img src="../../assets/img/redes-icono.png" alt="">
        </div>
    </div>
    <div class="textos-servicios">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, nihil velit soluta quibusdam perspiciatis
            accusantium mollitia dignissimos iure provident iusto? Quae tempore, eligendi vitae autem ullam animi
            necessitatibus illo debitis officiis accusantium perferendis nemo repellat odio qui? Rem nam voluptas,
            corrupti architecto, natus deserunt mollitia neque ratione distinctio laudantium hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, nihil velit soluta quibusdam perspiciatis
            accusantium mollitia dignissimos iure provident iusto? Quae tempore, eligendi vitae autem ullam animi
            necessitatibus illo debitis officiis accusantium perferendis nemo repellat odio qui? Rem nam voluptas,
            corrupti architecto, natus deserunt mollitia neque ratione distinctio laudantium hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, nihil velit soluta quibusdam perspiciatis
            accusantium mollitia dignissimos iure provident iusto? Quae tempore, eligendi vitae autem ullam animi
            necessitatibus illo debitis officiis accusantium perferendis nemo repellat odio qui? Rem nam voluptas,
            corrupti architecto, natus deserunt mollitia neque ratione distinctio laudantium hic.</p>
    </div>
</div>