
<section id="servicios" class="parallax-container">
    <div class="parallax-content">
        <h1>SERVICIOS</h1>
    </div>
    <div class="parallax-background">
    </div>
</section>

<section class="servicio-container">
    <div class="info-servicios">
        <div class="img-item">
            <img src="../../assets/img/cctv-icono.png" alt="">
            <h4>Servicio Técnico Seguridad Electrónica</h4>
            <p>En IT Solutions, nos especializamos en ofrecer soluciones integrales de seguridad para proteger lo que más te importa. Nuestros servicios técnicos de cámaras y alarmas están diseñados para proporcionar tranquilidad y seguridad tanto a hogares como a negocios o empresas.<br> 
                Contamos con un equipo de profesionales altamente capacitados que se encargan de la instalación, mantenimiento y reparación de sistemas de vigilancia y alarmas de última generación. 
                Ofrecemos productos de alta calidad y un servicio al cliente excepcional, adaptándonos a las necesidades específicas de cada cliente. Confía en nosotros para mantener tu entorno seguro y protegido las 24 horas del día, los 7 días de la semana.</p>
            <div class="line"></div>
        </div>
        
        <div class="img-item">
            <img src="../../assets/img/computacion-icono.png" alt="">
            <h4>Servicio Técnico de Computadoras</h4>
            <p>
                En IT Solutions, proporcionamos servicios técnicos especializados en la reparación y mantenimiento de computadoras, así como en el armado de equipos a medida que se ajustan perfectamente a tus requerimientos. 
                Nuestro equipo de técnicos está comprometido con brindarte un servicio rápido, eficiente y confiable, utilizando siempre las mejores prácticas y componentes de primera calidad. Ya sea que necesites reparar tu equipo actual, optimizar su rendimiento o armar una computadora desde cero, estamos aquí para ayudarte. </p>
            <div class="line"></div>
        </div>
        <div class="img-item">
            <img src="../../assets/img/redes-icono.png" alt="">
            <h4>Servicio Técnico de Redes de Datos</h4>
            <p>En IT Solutions, somos líderes en ofrecer soluciones completas y avanzadas para la infraestructura de redes de datos en empresas. Nuestro equipo de profesionales altamente capacitados se especializa en la planificación, diseño e implementación de redes de datos robustas y eficientes. 
                Proveemos servicios de cableado estructurado, garantizando una conexión fiable y de alta velocidad que optimiza el rendimiento de tus operaciones diarias. Además, diseñamos e instalamos redes inalámbricas seguras y de amplio alcance que permiten una movilidad sin interrupciones dentro de tu empresa.
                 Nos aseguramos que tu red esté siempre a la vanguardia de la tecnología y preparada para el futuro. Confía en nosotros para mantener tu empresa conectada y operando sin problemas en todo momento.</p>
            <div class="line"></div>
        </div>
    </div>

</section>