
.parallax-container {
  position: relative;
  width: 100%;
}

.parallax-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/servicios2.jpg'); /* Ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Colocando la imagen detrás del contenido */
  box-shadow: 0px 1px 23px 15px rgba(252, 253, 253, 0.5);
}

.parallax-content {
 width: 100%;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
}


.parallax-content h1 {
  font-size: 10vw;
  color: white;
  text-shadow: 5px 5px 5px #000;
  opacity: 0.7;
}

.servicio-container {
  display: flex;
  padding: 20px;
}

.info-servicios{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0 50px 0;  
}

.img-item {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #ffffff6e;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 11px 13px 14px 1px rgba(0,0,0,0.43);
}

.img-item img {
  height: 150px;
  width: 150px;
  margin: 0 auto;  
}

.img-item h4 {
  text-align: center;
  margin-top: 20px;
  color:#004272;
}

.img-item p {
  margin-top: 20px;
  text-align: center;
  font-size: 1.1rem;
  color:#004272;
}



/* Small devices (portrait tablets and large phones) */

@media screen and (max-width: 576px){
  
  .parallax-content{
   height: 200px;
  }
  .parallax-content h1 {
    font-size: 8vh;
    text-align: center;
  }

   .parallax-background {
       object-fit: fill;
  }

  .servicio-container {
    display: flex;
    padding: 20px; 
  }
  
  .info-servicios{
    display: flex;
    flex-direction: column; 
    
  }
  
  .img-item {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .line{
    color: gray;
    width: 70%;
    border: solid 0.5px;
    margin: 0 auto;
  }
}

/* Medium devices (landscape tablets) */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .parallax-content h1 {
    font-size: 12vw;
  }
   .parallax-background {
       object-fit: fill;
  }

.servicio-container {
  display: flex;
  padding: 20px; 
}

.info-servicios{
  display: flex;
  flex-direction: column; 
  
}

.img-item {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}



}
