<section id="servicios" class="parallax-container">
    <div class="parallax-content">
        <h1>SERVICIOS</h1>
    </div>
    <div class="parallax-background">
    </div>
</section>

<section class="servicio-container">
    <div class="info-servicios">
        <div class="img-item">
            <h1>Seguridad Electrónica</h1>
            <h4>En IT Solutions, nos especializamos en ofrecer soluciones integrales de seguridad para proteger lo que más te importa. Nuestros servicios técnicos de cámaras y alarmas están diseñados para proporcionar tranquilidad y seguridad tanto a hogares como a negocios o empresas. Ofrecemos productos de alta calidad adaptándonos a las necesidades específicas de cada cliente. Confía en nosotros para mantener tu entorno seguro y protegido las 24 horas del día, los 7 días de la semana. </h4>
            <div class="servicio-tecnico">
                <div>
                    <img src="../../assets/img/cctv-icono.png" alt="">
                    <p>Video Seguridad</p>
                    <ul>
                        <li>Instalación de cámaras.</li>
                        <li>Asistencia técnica a domicilio y remoto.</li>
                        <li>Configuración para vista remota en multiples dispositivos.</li>
                        <li>Asesoramiento de ventas.</li>
                    </ul>
                </div>
                <div>
                    <img src="../../assets/img/alarm-icono.png">
                    <p>Alarmas</p>
                    <ul>
                        <li>Instalación de centrales y sensores.</li>
                        <li>Asistencia técnica a domicilio y remoto.</li>
                        <li>Configuracion de dispositivos para monitoreo de alertas.</li>
                        <li>Trabajamos con la ultima generación de alarmas.</li>
                    </ul>
                </div>
                <div>
                    <img src="../../assets/img/control-access.png">
                    <p>Control de Acceso<br>y Horario</p>
                    <ul>
                        <li>Instalacion y configuracion de controles de acceso.</li>
                        <li>Configuracion de software para controles de horarios de empleados.</li>
                        <li>Asistencia técnica a domicilio y remoto.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="img-item">
            <h1>Servicio Técnico de Computadoras</h1>
            <h4>En IT Solutions, proporcionamos servicios técnicos especializados en la reparación y mantenimiento de
                computadoras, así como en el armado de equipos a medida que se ajustan perfectamente a tus
                requerimientos.</h4>
            <div class="servicio-tecnico" >
                <div id="servicio-pc">
                    <img src="../../assets/img/service-pc.png" alt="">
                    <p>Armado de PC</p>
                    <ul>
                        <li>Armamos tu PC a medida segun tus necesidades.</li>
                        <li>Asistencia técnica a domicilio o remoto.</li>
                        <li>Asesoramiento.</li>
                        <li>Venta de partes.</li>
                    </ul>
                </div>
                <div id="servicio-pc">
                    <img src="../../assets/img/computacion-icono.png">
                    <p>Service PC</p>
                    <ul>
                        <li>Reparamos problemas de hardware o software.</li>
                        <li>Asistencia técnica a domicilio o remoto.</li>
                        <li>Limpieza de virus.</li>
                        <li>Optimizacion de PC o notebooks.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="img-item">
            <h1>Redes de Datos</h1>
            <h4>En IT Solutions, somos líderes en ofrecer soluciones completas y avanzadas para la infraestructura de redes de datos en empresas. Nuestro equipo de profesionales altamente capacitados se especializa en la planificación, diseño e implementación de redes de datos robustas y eficientes.</h4>
            <div class="servicio-tecnico">
                <div>
                    <img src="../../assets/img/network-lan.png" alt="">
                    <p>Redes LAN</p>
                    <ul>
                        <li>Armado de redes cableadas para empresas.</li>
                        <li>Asistencia técnica a domicilio y remoto.</li>
                        <li>Cableado estructurado.</li>
                    </ul>
                </div>
                <div>
                    <img src="../../assets/img/network-wifi.png">
                    <p>Redes WiFi</p>
                    <ul>
                        <li>Instalación y configuración de extensores y access point.</li>
                        <li>Asistencia técnica a domicilio y remoto.</li>
                        <li>Instalamos redes inalámbricas seguras y de amplio alcance.</li>
                    </ul>
                </div>
                <div>
                    <img src="../../assets/img/network-fiber.jpg">
                    <p>Fibra Optica</p>
                    <ul>
                        <li>Asesoramiento.</li>
                        <li>Vente de insumos.</li>
                        <li>Asistencia técnica a domicilio y remoto.</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>


</section>


