  .parallax-container {
    position: relative;
    height: 50VH;
    overflow: hidden;
  }

  .parallax-background {
    /* Fondo en paralaje */
    background-image: url('../../assets/img/servicios2.jpg');
    /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-attachment: fixed;
    /* Hace el efecto parallax */
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

  }

  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 40%;

  }




  .servicio-container {
    display: flex;
    padding: 20px;
  }

  .info-servicios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0 50px 0;
  }

  .img-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
  }

  .img-item img {
    height: 75px;
    width: 75px;
    margin: 0 auto;
  }

  .img-item h1,
  h4 {
    text-align: left;
    color: #FFF;
    margin-bottom: 50px;
    font-weight: 600;
  }

  .servicio-tecnico {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 9px 10px 10px 0px rgba(0, 0, 0, 0.79);
  }

  .servicio-tecnico div {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #616161;
  }

  #servicio-pc {
    width: 50%;
  }


  .servicio-tecnico div p {
    font-size: 2rem;
    font-weight: 600;
    color: #616161;
  }

  .servicio-tecnico div:last-child {
    border-right: none;
  }

  ul li {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    text-align: left;
  }

  .img-item p {
    margin-top: 20px;
    text-align: center;
  }



  /* Small devices (portrait tablets and large phones) */

  @media screen and (max-width: 576px) {

    .parallax-container {

      

    }
  
    .parallax-background {
      object-fit: none;

    }
  
    .content {
      
      
    }
  

    .servicio-container {
      width: 100%;
    }

    .info-servicios {}

    .img-item {
      width: 100%;
      padding: 0;

    }

    .img-item img {
      display: none;
    }

    .img-item h1,
    h4 {
      text-align: center;
      margin-top: 20px;
    }

    .servicio-tecnico {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .servicio-tecnico div {
      display: flex;
      flex-direction: column;
      border: none;
      width: 100%;
    }

    #servicio-pc {
      width: 100%;
    }


    .servicio-tecnico div p {
      font-size: 1.5rem;
      text-align: left;
    }


    ul li {
      text-align: left;
      width: 100%;
    }

    .img-item p {
      text-align: left;
    }

  }

  /* Medium devices (landscape tablets) */

  @media screen and (min-width: 577px) and (max-width: 992px) {
    .parallax-content h1 {
      font-size: 12vw;
    }

    .parallax-background {
      object-fit: fill;
    }

    .servicio-container {
      display: flex;

    }

    .info-servicios {
      display: flex;
      flex-direction: column;

    }

    .img-item {
      width: 100%;
      padding: 10px;
    }



  }