@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/* --- Header --- */

.background{
    width: 100%;
    height: 100vh;
    color: white;
    background-size: 400% 400%;
    position: relative;
    animation: fondo-movimiento 10s ease-out infinite;
}
.titulo-cambiante{
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.word {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 1.4em;
  padding: 0 14px 0 7px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  
}

.word:before {
  content: '';
  background-color: #4A4A4A;
  width: 1px;
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 7px;
  animation: blinkNaim 500ms linear infinite;
}

.container-fluid{
  height: 120px;
}
.navbar-brand{
    padding: 10px;
}

.navbar-brand img{
  height: 100px;
}

.navbar-collapse{
  margin-left: 40%;
}

.navbar{
  backdrop-filter: blur(10px);
  background-color: transparent;
}



.navbar-scroll ,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}


/* --- Fin Header --- */


    
 /*
 @media (max-width: 991px) {
    .navbar-scroll {
      background-color: #fff;
    }
       
    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
      color: #4f4f4f !important;
    }         
  }
  
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #fff;
  }
  
  .navbar-scroll {
    box-shadow: none;
  }
  
  .navbar-scrolled {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  }
  
  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #4f4f4f;
  }
  
  .navbar-scrolled {
    background-color: #fff;
  }
 
 @media (max-width: 450px) {
    #intro {
      height: 950px !important;
    }
  }
  
  @media (min-width: 550px) and (max-width: 750px) {
    #intro {
      height: 1100px !important;
    }
  }
  
  @media (min-width: 800px) and (max-width: 990px) {
    #intro {
      height: 600px !important;
    }
  }
  
  .display-1 {
    font-weight: 500 !important;
    letter-spacing: 40px;
  }
  
  @media (min-width: 1600px) {
    .display-1 {
      font-size: 10rem;
    }
  }*/


   /*--- Keyframes ---*/
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

  @keyframes blinkAnim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fondo-movimiento{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
  /* --- Fin Keyframe --- */