<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
    <div class="container-fluid">
      <a class="navbar-brand" href="#!">
        <img src="../../assets/img/ISOLOGO NEGATIVOPNG.png" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#!">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Contacto</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- Navbar -->

  <!--Section: Texto-->
  <section class="background">
      <h1 class="titulo-cambiante">Tenemos la última tecnología para tu <span class="word">{{ wordWrapperContent }}</span>
      </h1>
  </section >
  <!--Section: texto-->
</header>



<!--Wave-->
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<!--Wave-->

<!-- Carrusel -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="100">
      <img src="../../assets/img/img1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="100">
      <img src="../../assets/img/img2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="100">
      <img src="../../assets/img/img3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!-- Fin Carrusel -->