.container-product{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.category{
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding: 10px;
  position: fixed;  
}

.category p{
  font-weight: 600;
}


ul li{
 font-size: 1rem;
 font-weight: 600;
 display: flex;
 justify-content: space-between;
 cursor: pointer;
 text-transform: uppercase;
}

ul li img{
  height: 20px;
}

.sub-category{
  width: 100%;
  display: none;
}

.nav-active{
  display: block;
}

.nav-link {
  color: white;
  padding: 10px;
  margin: 5px 0;
}

.product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 22%;
    margin-right: 20px;
    padding: 0 30px 0 30px;
    background-color: #86868650;
 }

.product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .product {
    width: 28%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 11px 13px 14px 1px rgba(0, 0, 0, 0.363);
    background-color: #FFF;
    border-radius: 20px;
    
  }

  .product:hover{
    scale: 1.07;
    cursor: pointer;
  }
  
  .product img {
   width: 100%;
    padding: 5px;
    border-radius: 20px;
    height: 300px;
  }
  
  .product h6{
    text-align: left;
    margin: 10px 0 10px 5px;
    color: rgb(100, 100, 100);
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /*.product p {
    text-align: left;
    font-size: 1rem;
    color: rgb(100, 100, 100);
    padding: 5px;
  }*/

  .price-cant{
    display: flex;
    flex-direction: row;
  }
  
  .icons{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 60px;
  }

  .icons li img{
    height: 25px;
    
  }

  #marca{
    color: rgb(138, 135, 135);
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: 5px;
  }

  #price{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 5px;
  }

  #card-btn {
    background-color: #0b70b7;
    border: none;
    border-radius: 30px 10px 30px 10px;
    height: 35px;
    width: 50%;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 25%;
    margin-bottom: 10px;
  }


.close{
  display: none;
}

.open{
  display: none;
}

.viewFavorite-responsive{
  display: none;
}

.viewFavorite{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.viewFavorite a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.viewFavorite img{
  height: 15px;
  margin-left: 5px;
  margin-top: 5px;
}

.favorite {
  background-color: #09ff0093; /* el color que prefieras para indicar que es un favorito */
  border-radius: 10px;
  border: 0.5px solid grey;
  margin: 2px;
}

.productSelected{
  background-color: #3d41fa93; /* el color que prefieras para indicar que se agrego al carrito */
  border-radius: 10px;
  border: 1px solid grey;
  margin: 2px;
}

/* Small devices (portrait tablets and large phones) */

@media screen and (max-width: 576px) {

  .category{
    display: none;
    flex-direction: column;
    background-color: #ffffffe0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    margin-top: 1px;
    
  }

  .category-close{
    display: none;
  }

  .close{
    display: flex;
    margin: 0 auto;
    margin-top: 250px;
    left: 50%;
    z-index: 1;
    position: fixed;
  }

  .close p{
    font-weight: 600;
    font-size: 1rem;
  };

  .open{
    display: flex;
    justify-content: left;
  }

  .open img{
    height: 30px
  };

  .product-container{
    width: 100%;
    margin: 0 auto;
 }

 .product-list {
  display: flex;  
  width: 100%;
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product img {
  max-width: 100%;
  margin: 0 auto;
}

.product h6{
  text-align: left;
}

.product p {
  text-align: left;
}

.viewFavorite{
  display: none;
}

.viewFavorite-responsive{
  display: flex;
  gap: 20px;
}

.viewFavorite-responsive img{
  height: 25px;
}

.sub-menu-responsive{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  justify-content: flex-end;
}

.icons{
 
}



}

/* Medium devices (landscape tablets) */

@media screen and (min-width: 577px) and (max-width: 992px) {

  .category{
    display: none;
    flex-direction: column;
    background-color: #ffffffe0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    margin-top: 1px;
    
  }

  .category-close{
    display: none;
  }

  .close{
    display: flex;
    margin: 0 auto;
    margin-top: 250px;
    left: 50%;
    z-index: 1;
    position: fixed;
  }

  .open{
    display: flex;
    justify-content: left;
  }

  .container-product{
    display: flex;
    flex-direction: column;
  }

  .product-container{
    width: 90%;
    margin: 0 auto;
 }

 .product-list {
  display: flex;  
  padding: 20px;
}

.product {
  width: 48%;
  display: flex;
  flex-direction: column;
  
}

#img-product {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.icons{
  display: flex;
  justify-content: flex-end;
  
}
.price-cant{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  
}




.product h6{
  text-align: left;
}

.product p {
  text-align: left;
}



.viewFavorite{
  display: none;
}

.viewFavorite-responsive{
  display: flex;
  gap:50px;
}

.sub-menu-responsive{
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  justify-content: flex-end;
  
}

  
}