


<div class="container-product">


  
  <!-- Filtro categorias -->
  <div class="category" *ngIf="categories.length > 0"
     [ngClass]="{ 'category-close': !showFilter, 'open': showFilter }">
    <p>Categorias</p>
    <ul>
      <li (click)="showAllProducts()" class="category-item">
        Ver todos
      </li>
    </ul>
    <ul *ngFor="let category of categories" (click)="filterCategory(category)" >
      <li >{{category}}
        <img src="../../../assets/img/desplegable.png" alt="" (click)="toggleNav(category)">
      </li>
    </ul>
  </div>

  <div class="product-container">
<!-- 
    <div class="search-container">
       <div *ngFor="let category of categories">
          <p id="category-select">{{category}}</p>
       </div>
    </div>
-->

    <div class="viewFavorite">
      <a [routerLink]="['/favoritos']">Favoritos <img src="../../../assets/img/favorito.png"></a>
      <a [routerLink]="['/carrito']" (click)="toggleCart()">Carrito <img src="../../../assets/img/cart2.png" ></a>
    </div>

    <div class="sub-menu-responsive">
    <span class="viewFavorite-responsive">
      <a [routerLink]="['/favoritos']"><img src="../../../assets/img/favorito.png" alt=""></a>
      <a [routerLink]="['/carrito']" (click)="toggleCart()"><img src="../../../assets/img/cart2.png" alt=""></a>
    </span>

    <span class="close" *ngIf="showFilter" (click)="toggleFilter()">
      <p>Cerrar</p>
    </span>

    <span class="open" *ngIf="!showFilter" (click)="toggleFilter()">
      <img src="../../../assets/img/filtro.png" alt="">
    </span>
     </div>

    <div class="product-list">
      <div class="product" *ngFor="let product of filteredProducts; index as productId">
          <img id="img-product" [src]="product.image" alt="{{product.title}}">
           <p id="marca">{{ product.marca }}</p>
           <h6>{{ product.title }}</h6>
         <div class="price-cant">
           <p><span id="price">${{ product.price }}</span></p>
            <ul class="icons">
              <li><a (click)="addOrRemoveFavorite(product)" [ngClass]="{'favorite': isFavorite(product)}"><img src="../../../assets/img/favorito.png" alt=""></a></li>
              <li><a (click)="addOrRemoveCart(product)" [ngClass]="{'productSelected': isSelected(product)}"><img src="../../../assets/img/cart2.png" alt=""></a></li>
              <li><a [routerLink]="['/products', product.id]"><img src="../../../assets/img/info.png" alt=""></a></li>
            </ul>
        </div>
        <button id="card-btn">Comprar</button>
      </div>
    </div>
  </div>
</div>

