<section id="productos" class="parallax-container">
    <div class="parallax-content">
        <h1>PRODUCTOS</h1>
    </div>
    <div class="parallax-background">

    </div>
</section>

<section class="productos-container">

    <div class="card">
        <div class="card-content">
            <h4>SEGURIDAD ELECTRÓNICA</h4>
            <p>En IT Solutions, nos dedicamos a proteger lo que más te importa con una amplia gama de productos de seguridad electrónica.<br>
                Nuestra selección incluye cámaras de seguridad, sistemas de alarmas, controles de acceso, detectores de movimiento y mucho más, todos diseñados para proporcionar seguridad avanzada y confiable.<br>
                Trabajamos con las marcas más reconocidas del mercado para asegurar la calidad y eficacia de cada producto. Además, nuestro equipo de expertos está disponible para asesorarte y ayudarte a elegir el sistema que mejor se adapte a tus necesidades específicas. </p>
            <button class="card-btn">Visitar Tienda</button>
        </div>
        <div class="card-img">
            <img src="../../assets/img/CCTV.jpg" alt="">
        </div>
    </div>

    <div class="horizontal-list">
        <ng-container *ngFor="let logo of logosCctv">
            <img class="card-logo" [src]="logo.img">
        </ng-container>
    </div>

    <div class="card">
        <div class="card-img">
            <img src="../../assets/img/redes-y-conectividad.jpg">
        </div>
        <div class="card-content">
            <h4>REDES Y CONECTIVIDAD</h4>
            <p>En IT Solutions, ofrecemos una amplia gama de productos de alta calidad para redes de datos y conectividad, diseñados para satisfacer las necesidades de empresas y usuarios domésticos.
                Nuestro catálogo incluye todo lo necesario para crear, expandir y mantener una red de datos eficiente y segura.
                Explora nuestra selección de equipos de red, que incluye routers, switches, y puntos de acceso inalámbricos de las marcas más confiables del mercado.
                Nuestra variedad de cables y conectores garantiza una conexión estable y de alta velocidad. Ofrecemos cables Ethernet de distintas categorías (Cat5e, Cat6, Cat6a, Cat7), cables de fibra óptica, y conectores modulares.<br>
                <strong> Soluciones de Cableado Estructurado </strong> <br>
                Para proyectos más grandes, proporcionamos soluciones completas de cableado estructurado que aseguran la organización y eficiencia de tu red. Desde paneles de parcheo hasta racks y gabinetes, nuestros productos están diseñados para facilitar la instalación y el mantenimiento de tu infraestructura de red.
            </p>
            <button class="card-btn">Visitar Tienda</button>
        </div>
    </div>

    <div class="horizontal-list">
        <ng-container *ngFor="let logo of logosRedes">
            <img class="card-logo" [src]="logo.img">
        </ng-container>
    </div>

    <div class="card">
        <div class="card-content">
            <h4>INFORMATICA</h4>
            <p>En IT Solutions, ofrecemos una amplia gama de productos de alta calidad para satisfacer todas tus necesidades informáticas. Desde componentes internos hasta accesorios externos, tenemos todo lo que necesitas para mejorar, mantener o actualizar tu equipo. Explora nuestra selección de productos, diseñada para ofrecer rendimiento, fiabilidad y compatibilidad con una variedad de sistemas y configuraciones. <br>

                <strong> Hardware: </strong> <br>
                Descubre nuestra colección de componentes internos, que incluye procesadores de última generación, tarjetas gráficas potentes, memorias RAM de alto rendimiento y unidades de almacenamiento rápidas y fiables. Con marcas líderes en la industria y tecnología de vanguardia, puedes estar seguro de que encontrarás los mejores componentes para potenciar tu PC. <br>
                
                <strong> Periféricos y Accesorios: </strong> <br>
                Mejora tu experiencia informática con nuestros periféricos y accesorios diseñados para ofrecer comodidad, eficiencia y estilo. Desde teclados y ratones ergonómicos hasta monitores de alta resolución y sistemas de sonido envolvente, tenemos todo lo necesario para crear tu estación de trabajo perfecta.
                </p>
            <button class="card-btn">Visitar Tienda</button>
        </div>
        <div class="card-img">
            <img src="../../assets/img/COMPUTACION2.jpg">
        </div>
    </div>

    <div class="horizontal-list">
        <ng-container *ngFor="let logo of logosComputacion">
            <img class="card-logo" [src]="logo.img">
        </ng-container>
    </div>

</section>